body {
  background-color: teal;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.header {
  padding: 2em 0;
  text-align: center;
}

.header .username {
  font-size: 1.5rem;
}

.header .avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 640px;
  margin: 0 auto;
}

.link-item {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
}

.link-item .title {
  font-size: 1rem;
  padding: 0 1em;
}

.link-item .title a {
  text-decoration: none;
  color: royalblue;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.link-item .title a:hover {
  color: dodgerblue;
}

.link-item .title a:active {
  outline: 1px dashed dodgerblue;
}


.link-item .thumbnail {
  width: 100px;
  height: 100px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 5em 0;
}
